<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Baikal | Create Beautiful Website</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="../vendors/prism/prism-okaidia.css">
    <link href="../vendors/loaders.css/loaders.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Mulish:ital,wght@0,200..1000;1,200..1000&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/swiper/swiper-bundle.min.css">
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link href="../assets/css/user.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="min-vh-100 d-flex flex-center bg-black w-100 position-fixed" id="preloader">
        <div class="lds-ellipsis">
          <div> </div>
          <div> </div>
          <div> </div>
          <div></div>
        </div>
      </div>
      <div data-layout="container">
        <div class="content">
          <nav class="navbar navbar-baikal navbar-top navbar-expand-lg fixed-top top-0 start-0 end-0" data-navbar-soft-on-scroll="data-navbar-soft-on-scroll">
            <div class="container"><a class="navbar-brand" href="../"> <img src="../assets/img/logo-baikal.png" alt="" width="123" /></a>
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-toggler-button="data-toggler-button" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse navbar-nav-top" id="navbarNavDropdown" data-top-nav-dropdowns="data-top-nav-dropdowns">
                <ul class="ms-auto navbar-nav align-items-lg-center">
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Homes<span class="fas fa-chevron-down d-inline-block toggle-icon" data-fa-transform="shrink-4"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../index.html">Default</a>
                      </li>
                      <li> <a class="dropdown-item" href="../homes/index-classic.html">Classic</a>
                      </li>
                      <li> <a class="dropdown-item" href="../homes/youtube-video.html">Video full height</a>
                      </li>
                      <li> <a class="dropdown-item" href="../homes/video-classic.html">Video classic</a>
                      </li>
                      <li> <a class="dropdown-item" href="../homes/home-slider.html">Home slider</a>
                      </li>
                      <li> <a class="dropdown-item" href="../homes/slider-classic.html">Slider classic</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">About<span class="fas fa-chevron-down d-inline-block toggle-icon" data-fa-transform="shrink-4"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../about/what-we-do.html">What we do</a>
                      </li>
                      <li> <a class="dropdown-item" href="../about/projects.html">Projects</a>
                      </li>
                      <li> <a class="dropdown-item" href="../about/partners.html">Partners</a>
                      </li>
                      <li> <a class="dropdown-item" href="../about/contact.html">Contact</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">News<span class="fas fa-chevron-down d-inline-block toggle-icon" data-fa-transform="shrink-4"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../news/archive.html">Archive</a>
                      </li>
                      <li> <a class="dropdown-item" href="../news/standard.html">Standard</a>
                      </li>
                      <li> <a class="dropdown-item" href="../news/featured.html">Featured</a>
                      </li>
                      <li> <a class="dropdown-item" href="../news/slider.html">Slider</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Components<span class="fas fa-chevron-down d-inline-block toggle-icon" data-fa-transform="shrink-4"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../components/background.html">Background</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/buttons.html">Buttons</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/carousel.html">Carousel</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/colors.html">Colors</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/fontawesome.html">Fontawesome</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/form-processor.html">Form Processor</a>
                      </li>
                      <li> <a class="dropdown-item active" href="../components/googlemap.html">Google map</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/grid.html">Grid</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/sizing.html">Sizing</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/parallax.html">Parallax</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/spacing.html">Spacing</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/swiper.html">Swiper</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/typography.html">Typography</a>
                      </li>
                      <li> <a class="dropdown-item" href="../components/utilities.html">Utilities</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle d-flex align-items-center" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Docs<span class="fas fa-chevron-down d-inline-block toggle-icon" data-fa-transform="shrink-4"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../docs/getting-started.html">Getting Started</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/file-structure.html">File Structure</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/customization.html">Customization</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/gulp.html">Gulp</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/rtl.html">RTL</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/plugins.html">Plugins</a>
                      </li>
                      <li> <a class="dropdown-item" href="../docs/changelog.html">Changelog</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item py-2 py-lg-0 ms-lg-2"> <a class="btn btn-sm btn-outline-light rounded-capsule" href="https://themewagon.com/themes/baikal/" target="_blank">Purchase</a></li>
                </ul>
              </div>
            </div>
          </nav>


          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="py-6">

            <div class="bg-holder overlay" style="background-image:url(../assets/img/header-04.jpg);">
            </div>
            <!--/.bg-holder-->

            <div class="container">
              <div class="row flex-center py-6">
                <div class="col-lg-8 text-center">
                  <div class="overflow-hidden">
                    <h2 class="fs-7 fs-md-6 fs-lg-5 fw-bolder text-white text-uppercase lh-1" data-zanim-xs='{"delay":1,"duration":1.4,"ease":"Sine.easeInOut","from":{"letterSpacing":"0.15em","opacity":0},"to":{"letterSpacing":"0.05em","opacity":1}}'>Google Map</h2>
                  </div>
                  <div class="overflow-hidden">
                    <p class="fst-italic text-white mb-3 fs-8" data-zanim-xs='{"delay":2,"duration":1.2,"ease":"Power2.easeOut","from":{"y":20,"opacity":0},"to":{"y":0,"opacity":1}}'>Integrate Google Maps effortlessly to provide interactive, real-time location tracking and enhance user experience with detailed maps.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->




          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section>

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="mb-3">
                    <h4>Example</h4>
                    <p>To enable the map view in your component, add
                      <code>data-gmap="data-gmap"</code> attribute in your HTML element.
                      Next, generate your custom map styles in the
                      <a href='https://console.cloud.google.com/google/maps-apis' target='_blank'>Google Maps Platform</a>
                      by visiting the Map Styles section, then create a Map ID from the Map Management panel.
                      Once, your Map ID is ready, include it in your HTML using the <code>data-mapid="YOUR_MAP_ID"</code> attribute.
                      This Map ID is required to properly render Google Maps API v3 with the <code>AdvancedMarkerElement</code>.
                    </p>
                    <div class="googlemap" data-gmap="data-gmap" data-latlng="41.8333925,-88.0123393" data-scrollwheel="false" data-mapid="a2a07f618947e1cca5b1a9b0" data-icon="../assets/img/map-marker.png" data-zoom="15" style="min-height:300px">
                      <div class="marker-content py-3">
                        <h5>Tooltip title</h5>
                        <p>A nice description about your place<br /> Customize it as you want.</p>
                      </div>
                    </div>
                    <h5 class="mb-0 mt-5">Html</h5>
                    <pre class="scrollbar rounded-1 mt-2"><code class="language-html">&lt;div class=&quot;googlemap&quot; data-gmap=&quot;data-gmap&quot; data-latlng=&quot;41.8333925,-88.0123393&quot; data-scrollwheel=&quot;false&quot; data-mapid=&quot;a2a07f618947e1cca5b1a9b0&quot; data-icon=&quot;../assets/img/map-marker.png&quot; data-zoom=&quot;15&quot; style=&quot;min-height:300px&quot;&gt;
  &lt;div class=&quot;marker-content py-3&quot;&gt;
    &lt;h5&gt;Tooltip title&lt;/h5&gt;
    &lt;p&gt;A nice description about your place&lt;br /&gt; Customize it as you want.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                  <div class="mb-5">
                    <h4 class="mt-5">Example of street view</h4>
                    <p>To enable Street View Panorama mode, simply add the <code>data-theme="streetview"</code>
                      attribute to your HTML element, Additionally, to fully enable Street View functionality through the
                      Google Maps API, make sure to include the required library <code>streetView</code> in the script tag
                      when loading the Google Maps API. This ensures that the Street View components and features load correctly.
                    </p>
                    <div class="googlemap min-vh-50" data-gmap="data-gmap" data-latlng="48.8588723,2.2932638" data-pov='{"heading":120,"pitch":0}' data-scrollwheel="false" data-icon="../assets/img/map-marker.png" data-zoom="1" data-theme="streetview"></div>
                    <pre class="scrollbar rounded-1 mt-2"><code class="language-html">&lt;div class=&quot;googlemap min-vh-50&quot; data-gmap=&quot;data-gmap&quot; data-latlng=&quot;48.8588723,2.2932638&quot; data-pov='{&quot;heading&quot;:120,&quot;pitch&quot;:0}' data-scrollwheel=&quot;false&quot; data-icon=&quot;../assets/img/map-marker.png&quot; data-zoom=&quot;1&quot; data-theme=&quot;streetview&quot;&gt;&lt;/div&gt;</code></pre>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h5 class="mb-1"> Setup Google Maps </h5>
                    </div>
                    <div class="card-body">
                      <ul class="ps-0 bullet-inside">
                        <li class="mb-3"> <a class="font-sans-serif" href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">Get your API key</a><span class="d-inline-block ms-1">&xrarr;</span></li>
                        <li class="mb-3">Add the script to your page
                          <pre class="scrollbar mt-2"><code class="language-html">&lt;script&gt;
  (g =&gt; {
    var h, a, k, p = &quot;The Google Maps JavaScript API&quot;,
      c = &quot;google&quot;,
      l = &quot;importLibrary&quot;,
      q = &quot;__ib__&quot;,
      m = document,
      b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}),
      r = new Set(),
      e = new URLSearchParams,
      u = () =&gt; h || (h = new Promise(async (f, n) =&gt; {
        await (a = m.createElement(&quot;script&quot;));
        e.set(&quot;libraries&quot;, [...r] + &quot;&quot;);
        for (k in g)
          e.set(k.replace(/[A-Z]/g, t =&gt; &quot;_&quot; + t[0].toLowerCase()), g[k]);
        e.set(&quot;callback&quot;, c + &quot;.maps.&quot; + q);
        a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
        d[q] = f;
        a.onerror = () =&gt; h = n(Error(p + &quot; could not load.&quot;));
        a.nonce = m.querySelector(&quot;script[nonce]&quot;)?.nonce || &quot;&quot;;
        m.head.append(a);
      }));
    d[l] ?
      console.warn(p + &quot; only loads once. Ignoring:&quot;, g) :
      d[l] = (f, ...n) =&gt; r.add(f) &amp;&amp; u().then(() =&gt; d[l](f, ...n))
  })({
    key: 'YOUR_API_KEY',
    v: &quot;weekly&quot;,
    libraries: &quot;marker,streetView&quot; // Libraries to load
  });
&lt;/script&gt;</code></pre>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->


          <footer>


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="bg-1000 py-4">

              <div class="container">
                <div class="row">
                  <div class="col text-center pb-2 d-flex align-items-center justify-content-center"><a class="social-icon d-flex align-items-center me-2" href="#!"><span class="fab fa-twitter text-1000"></span></a><a class="social-icon d-flex align-items-center me-2" href="#!"><span class="fab fa-instagram text-1000"></span></a><a class="social-icon d-flex align-items-center me-2" href="#!"><span class="fab fa-pinterest text-1000"></span></a><a class="social-icon d-flex align-items-center" href="#!"><span class="fab fa-youtube text-1000"></span></a></div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->




            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="bg-1100 py-5">

              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <h6 class="text-400 fw-semi-bold mt-3 fw-bold ls-1 text-uppercase">
                      459 broadway, new york<span class="ms-3">(212) 555-0123</span><span class="ms-3 mt-1 mt-md-0 d-inline-block">placeholder@gmail.com</span></h6>
                    <p class="pt-4 mb-3 text-700">
                      Made with ❤️ by <a class="link-700 text-decoration-none" href="https://themewagon.com" target="_blank"> <span class="border-bottom border-800 border-2" style="line-height:10px; margin-bottom: 10px;">ThemeWagon </span></a></p>
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


          </footer>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../vendors/popper/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script>
      (g => {
        var h, a, k, p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set,
          e = new URLSearchParams,
          u = () => h || (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => h = n(Error(p + " could not load."));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a)
          }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
      })({
        key: 'AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo',
        v: "weekly",
        libraries: "marker,streetView"
      });
    </script>
    <script src="../vendors/prism/prism.js"></script>
    <script src="../vendors/swiper/swiper-bundle.min.js"> </script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="../vendors/lodash/lodash.min.js"></script>
    <script src="../vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../vendors/gsap/gsap.js"></script>
    <script src="../vendors/gsap/customEase.js"></script>
    <script src="../vendors/gsap/drawSVGPlugin.js"></script>
    <script src="../assets/js/theme.js"></script>

  </body>

</html>