mixin HomesPageInfo
  +Section(container)#secondSection.text-center
    .row.justify-content-center 
      .col-lg-10 
        h3.pb-4.font-base.fs-7.fw-normal.text-1000 A Bootstrap 5 website template for entrepreneurial community.
        p.w-xl-75.mx-auto.px-3 Some of the coolest websites on earth are empowered by ThemeWagon. To continue the ambience, Baikal aims to help the rapidly growing entrepreneurial community to go online.It's loaded with many elements & features. See what you can do with it.
        p.w-md-75.mx-auto 
          span.fst-italic.text-1000.fw-semi-bold For any questions please contact 
          a.text-primary.fw-semi-bold.fst-italic(href='#!') info@yourdomain.com
    
    .row.justify-content-center.pt-6.pt-lg-8 
      .col-11.col-md-5.mt-1
        img(src=`${CWD}assets/img/about.jpg`, alt="").img-fluid
        h5.text-uppercase.pt-4.pb-2.text-primary.fw-bolder.fs-9.ls-1 about
        p Find out about our organization, mission, our methods, and the results of our decades of advocacy.
        a.text-capitalize.link-primary.fw-semi-bold.mb-6.mb-md-0.d-inline-block(href="#!") learn more ⟶
      
      .col-11.col-md-5.mt-1
        img(src=`${CWD}assets/img/action.jpg`, alt="").img-fluid
        h5.text-uppercase.pt-4.pb-2.text-primary.fw-bolder.fs-9.ls-1 portfolio
        p Discover our curated portfolio of successful projects, showcasing years of expertise and collaboration.
        a.text-capitalize.link-primary.fw-semi-bold(href="#!") see portfolio ⟶