mixin SliderContent 
  +Section(container)
    .row.justify-content-center 
      .col-lg-8
        p.mb-2  January 21, 2017
        h4.mb-4.font-base.fw-light.text-800 10 Stats That Prove Social Media Isn't Just for Kids
        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna.
        +Slider 
        +Comment