extends ../layouts/LayoutComponent
include ../mixins/components/Carousel

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Carousel'
  - var pageDes = 'Create dynamic, responsive carousels with smooth transitions, perfect for showcasing images and content effortlessly.'

append component 

  +BootstrapComponentLink({
    link: `https://getbootstrap.com/docs/${bootstrapVersion}/components/carousel/`,
    name: pageTitle,
  })

  +ComponentCard({
    title: 'Basic Example',
    prismClass: 'mt-4'
  }).mt-5
    +CarouselBasicExample

  +ComponentCard({
    title: 'Indicators',
    prismClass: 'mt-4'
  }).mt-5
    +CarouselWithIndicatorExample

  +ComponentCard({
    title: 'Autoplay',
    prismClass: 'mt-4'
  }).mt-5
    +CarouselAutoPlayExample