extends ../layouts/LayoutComponent 
include ../mixins/components/FormProcessor

prepend styles 

prepend scripts

append variables
  - var pageTitle = 'Form Processor'

append component 
  +FormProcessor