mixin AboutNav 
  nav.sticky.ms-3
    h5.mb-3.text-primary.fw-semi-bold.font-base About 
    ul.list-unstyled.fw-bold.ls-1.text-uppercase.fs-10 
      each item in sitemap 
        if item.label.toLowerCase() === 'about'
          each page in item.pages 
            - var title = page.name 
            - var href = `${CWD}${page.path}.html`

            if title.toLowerCase().split('-').join(' ').indexOf(pageTitle.toLowerCase()) !== -1
              li.pb-2 
                a.link-800.fw-bolder(href=href)
                  +cleanText(title) 
            else 
              li.pb-2 
                a.link-500(href=href)
                  +cleanText(title) 