extends ../layouts/LayoutTheme
include ../mixins/common/HomesPageInfo
include ../mixins/homes/Default


prepend styles 

prepend scripts

append content 
    +HeroSection('classic')
    +HomesPageInfo
