mixin Form 
  form(data-form onsubmit='return false;')
    .row 
      .col-md-12 
        .form-group.mt-2 
          input.form-control(type='hidden' name='to' value='username@domain.extension')
      .col-12 
        .form-group.mt-2 
          label(for="exampleInputEmail") Email Address *
          input#exampleInputEmail.form-control(type="email", name="from" required)  
      
      .col-12 
        .form-group.mt-2 
          label(for="exampleInputMessage")  Message *
          textarea#exampleInputMessage.form-control(name="message" rows='8' required)

      .col-12 
        input#exampleInputSubmit.btn.btn-dark.fs-9.ls-1.mt-3(type="submit" name="submit" value="Submit")

mixin Contact 
  section.py-0
    h5.mb-4.text-uppercase.ls-1.fw-normal.text-900  Call or Visit 
    .googlemap(data-gmap data-latlng='48.8583701,2.2922873,17' data-scrollwheel='false' data-mapid="a2a07f618947e1cca5b1a9b0" data-icon=`${CWD}assets/img/map-marker.png` data-zoom='15' data-theme='default' style='height: 400px;')
      .py-3 
        h5.fs-9 Eiffel Tower 
        p.fs-10.mb-0 
          | Gustave Eiffel's iconic,
          br
          | wrought-iron 1889 tower 
          br
          | with steps and elevators 
          br
          | to observation decks.

    .row.mt-4.justify-content-between.place-item-center
      .col-md-4
        address
          | 459 Broadway 
          br
          | New York, NY 10012
          br
          | (212) 555-0123

        address.mb-6 
          | Monday - Friday: 9AM - 6PM
          br
          | Saturday: 10AM - 7PM
          br
          | Sunday: Closed 
        h5.mb-3.text-uppercase.ls-1.fw-normal.text-900 Email 
        p.mb-0 General Inquiries 
        a.link-primary(href="#!") username@domain.extension

        p.mb-0.mt-3 Partnerships 
        a.link-primary username@domain.extension
      .col-md-7.mt-4.mt-md-0
        +Form