/*-----------------------------------------------
|   Documentation link and Prism
-----------------------------------------------*/
:not(pre) > code[class*='language-'], pre[class*='language-'] {
  border: $border-width solid var(--#{$prefix}gray-300);
  border-radius: $border-radius-sm;
  font-size: 75% !important;

}

 pre[class*='language-'] {
  padding: 1em;
  margin: .5em 0;
  border-radius: $border-radius-sm;
  background-color: var(--#{$prefix}gray-1000);
}

:not(pre) > code {
  padding: .2rem .4rem;
  font-size: 75%;
  border-radius: $border-radius-sm;
  color: var(--#{$prefix}code-color);
  background-color: var(--#{$prefix}gray-200);
}


/*-----------------------------------------------
|   Component examples
-----------------------------------------------*/

.component-example{

  >{
    .border {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;
      margin: .75rem;
      background-color: var(--#{$prefix}gray-100);
    }
  }
}

/*-----------------------------------------------
|   Utilities
-----------------------------------------------*/
.border-component{
  [class^=border],
  [class^="rounded-"]{
    display: inline-block;
    padding: 3rem;
    margin-right: 1rem;
  }

  [class^=border] {
    background-color: var(--#{$prefix}light);
    border-color: var(--#{$prefix}gray-400) !important;
  }

  [class^="rounded-"] {
    background-color: var(--#{$prefix}light);
    border-color: var(--#{$prefix}gray-400) !important;
  }
}
